.app {
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: calc(100vh - #{$nav-height} - #{$master-sides-padding});
	padding: 0 $master-sides-padding 15px $master-sides-padding;
}
