@mixin button {
	padding: 10px;
	border-radius: 5px;
	color: $white;
	background-color: $light-violet;
	cursor: pointer;
	width: 100%;

	&:hover {
		background-color: $dark-violet;
	}

	&:active {
		opacity: 0.9;
	}
}

@mixin modal-wrapper {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	background: rgba(0, 0, 0, 0.75);
}
