.refresh-modal-wrapper {
	@include modal-wrapper;
}

.refresh-modal {
	width: 300px;
	border-radius: 5px;
	background-color: #fff;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 10px;

	p {
		margin-bottom: 10px;
		color: $light-violet;
	}
}

.refresh-modal-btn {
	@include button;
}
