.reservation-modal-wrapper {
	@include modal-wrapper;
}

.reservation-modal {
	width: 300px;
	border-radius: 5px;
	background-color: $white;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 10px;

	p {
		margin-bottom: 10px;
	}
}

.reservation-form {
	width: 100%;
	display: flex;
	flex-direction: column;
	margin-bottom: 30px;

	label {
		margin-bottom: 10px;
	}
}

.reservation-modal-input {
	color: $light-violet;
	padding: 5px;
	margin-top: 5px;
	border: 1px solid $grey;
	border-radius: 5px;
	width: 100%;
}

.reservation-modal-details {
	align-self: flex-start;
	color: $grey;
	width: 100%;
	display: flex;
	justify-content: space-between;

	span {
		color: $light-violet;
	}
}

.reservation-modal-btn {
	@include button;
}

.reservation-modal-validation-message {
	color: $error-color;
	font-size: 12px;
}

.reservation-modal-success-message {
	color: $light-violet;
}
