.route-select-wrapper {
	width: 100%;
	display: flex;
	flex-direction: column;
	padding: 10px;
	border-radius: $border-radius;
	box-shadow: $box-shadow;

	@media screen and (min-width: $breakpoint-sm) {
		width: 300px;
	}
}

.route-select-title {
	text-align: center;
	margin-bottom: 20px;
	color: $light-violet;
	font-size: 25px;
}

.route-select {
	color: $light-violet;
	margin-bottom: 20px;
	padding: 10px;
	border: 1px solid $grey;
	border-radius: 5px;
}

.route-select-button {
	@include button;
}
