table {
	border-spacing: 0;
	border: 1px solid $grey;
	border-bottom: 0;
	width: 100%;

	tr {
		display: flex;
		flex-direction: column;

		@media screen and (max-width: calc(#{$breakpoint-sm} - 1px)) {
			td:not(:last-child) {
				border-bottom: 0;
			}
		}

		@media screen and (min-width: $breakpoint-sm) {
			display: table-row;
		}
	}

	th,
	td {
		padding: 0.5rem;
		border-bottom: 1px solid $grey;
		color: $light-violet;

		@media screen and (min-width: $breakpoint-sm) {
			border-right: 1px solid $grey;
		}

		&:last-child {
			border-right: 0;
		}
	}

	@media screen and (max-width: calc(#{$breakpoint-sm} - 1px)) {
		.reservation-header {
			display: none;
		}
	}
}

.price-list-wrapper {
	width: 100%;
	display: block;
	flex-direction: column;
	min-height: inherit;

	@media screen and (min-width: $breakpoint-sm) {
		display: flex;
	}
}

.price-list-title {
	color: $light-violet;
	margin-bottom: 20px;
	text-align: center;
}

.price-list-company-filter {
	color: $light-violet;
	padding: 5px;
	margin-top: 5px;
	border: 1px solid $grey;
	border-radius: 5px;
}

.price-list-book-btn {
	@include button;
}
